<h1>10 Nearest Stations</h1>

<ul class="station">
<%= @station_search.stations.each do |station| %>
  <li class="name">Name: <%= station.name %></li>
  <li class="address">Address: <%= station.address %></li>
  <li class="fuel_type">Fuel Type: <%= station.fuel_type %></li>
  <li class="distance">Distance: <%= station.distance %></li>
  <li class="access_time">Access Time: <%= station.access_time %></li>
<% end %>
</ul><br>
